---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<div class="rowhome">
  <div class="columnhome columnhome-1">
    
    <table class="tablehome">
    <tbody><tr valign="top"> <td><i>Address:</i></td> <td>
      Centre for Mathematical Sciences<br>
      Wilberforce Road<br>
      Cambridge CB3 0WB<br>
      United Kingdom</td> </tr>
    <tr><td><i>Office:</i></td>  <td>E1.06<br></td> </tr>
    <tr><td><i>E-mail:</i></td>  <td> aa2099 (at) cam (dot) ac (dot) uk</td> </tr>   
  </tbody></table>

  </div>
  <div class="columnhome columnhome-2">
    <figure>
      <img src="./images/photo.jpg" />
      <figcaption style="text-align: center; font-size: 0.5em; font-style: italic;">Credit: Archives of the Mathematisches Forschungsinstitut Oberwolfach</figcaption>
    </figure>
  </div>
</div> 


 {{ content }}

</div>
